.jumbotron {
    background-color: #4aaaa5; 
    color: white
}

.card-header {
    background-color: #4aaaa5;
    color: #fff;
}

#current-time {
    font-weight: bold;
}

#train-table th,
    td {
      display: inline-block;
      font-size: .8em;
      width: 16.575%;
}

#add-train-btn {
    background-color: #4aaaa5;
    color: #fff;
}

#add-train-btn:hover {
    background-color: #278c86;
}