.container {
    background-color: #f2f2f2;
}

.jumbotron {
    /*background-color: #4aaaa5; */
    background-image: url("../images/bike-train-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: auto;
    opacity: 0.7;
    -webkit-text-stroke: .9px black;
}

.card-header {
    background-color: #4aaaa5;
    color: #fff;
}

#current-time {
    font-weight: bold;
}

.table-borderless th {
    border: 0;
}

#train-table {
    width: 100%; 
}

#train-table th,
    td {
      display: inline-block;
      font-size: .8em;
      width: 16.5%;
}

#add-train-btn {
    background-color: #4aaaa5;
    color: #fff;
}

#add-train-btn:hover {
    background-color: #278c86;
}